@font-face {
	font-family: "Gothic";
	src: url("../fonts/gothic.woff") format("woff"),
		 url("../fonts/gothic.ttf") format("truetype");
}

.link a:link, a:visited {
	color: #87ceeb;
	text-decoration: none;
}

body {
	font-family: "Gothic";
	color: #DEDEDE;
	background-color: #1F1F1F;
	margin-left: 2%;
	margin-right: 2%;
}

.panel-holder {
	width: 100%;
	display: flex;
	background: #222222;
}

.right-panel {
	width: 50%;
	min-height: 100%;
	float: right;
	outline: 1px dashed #7a93b1;
}

.left-panel {
	width: 50%;
	minheight: 100%;
	float: left;
	outline: 1px dashed #7a93b1;
}

.right-panel-third {
	width: 33.33%;
	min-height: 100%;
	float: right;
	outline: 1px dashed #7a93b1;
}

.center-panel-third {
	width: 33.33%;
	minheight: 100%;
	float: none;
	outline: 1px dashed #7a93b1;
}

.left-panel-third {
	width: 33.33%;
	minheight: 100%;
	float: left;
	outline: 1px dashed #7a93b1;
}

.panel-heading {
	background: grey;
	padding-top: 1px;
	padding-bottom: 1px;
	outline: 1px dashed #7a93b1;
}

.panel-content {
	font-family: "Consolas";
	text-shadow: none;
	padding-top: 1px;
	padding-bottom: 1px;
}
